@import "utilities/_reset.scss";
@import "utilities/_config";

.container {background: $couleur}

.flex{display: flex; flex-wrap: wrap; max-width: 80%; margin: auto}
.flex-fluid{display: flex; flex-wrap: wrap}

.flex-auto{display: flex; flex-grow: 1}

