@import "utilities/_reset.scss";
@import "utilities/_config";

//.container {background: $couleur}
$flex_basis: '100%/'$grille;

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

.flex-fluid {
  display: flex;
  flex-wrap: wrap;
}

.flex-auto {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.content {
  flex-basis: calc(100%/#{$grille} - #{$margin}px);
  height: 6rem;
  background: red;
}

<<<<<<< HEAD
=======
//Loop on justify-content attributes
@each $key, $i in $justify_c {
  .flex-jc-#{$key} {
      justify-content: $i; 
  }
}

//Loop on align-items attributes
@each $key, $i in $align-items {
  .flex-align-#{$key} {
      align-items: $i; 
  }
}

>>>>>>> 434fbaf1ae6599920e8bf6c17f09f912f9feccc5
// Flex Direction
@each $key,$i in $flex-d {
  .flex-dir-#{$i} {
    flex-direction: $i;
  }
}
<<<<<<< HEAD

div[class*="item-"]{
  margin: #{$margin}px
}

@for $i from 1 to $grille+1{
  .item-#{$i}{
    //flex-basis: calc(100%/#{$grille} - #{$margin}px);
    flex-basis: calc(((100%/#{$grille}) / #{$i}) - #{$margin*2}px);
    height: 6rem;
    background: red;
  }
}
=======
>>>>>>> 434fbaf1ae6599920e8bf6c17f09f912f9feccc5
