
/* ----------------------- Config file -----------------------  */

//Grid size by default
$grille: 4;

// $couleur: #fff; //hexa code
$margin: 16; //value in px

//List of justify-content attributes
$justify_c: ("sb": "space-between", "c": "center", "s": "stretch");

//List of align-items attributes
$align-items: ("b": "baseline", "c": "center", "fe": "flex-end", "fs": "flex-start", "inh": "inherit", "ini": "initial", "s": "stretch");